*{
    margin: 0;
    padding: 0;
}
#body{
    
    /* background: url()no-repeat; */
    background-image: url('../images/body.gif');
    background-size: 100%;
    
}
#wrap{
    width: 500px;
    height: 500px;
    background: url('../images/body.gif');
    padding-top: 30px;
    margin: auto;
}
#header{
   
    background: url('../images/header.jpg');
    border-radius: 75px;
    padding-top: 30px;
    margin: auto;
    width: 150px;
    height: 150px;

    
}
#input{
    margin: auto;
    text-align: center;
    color: white;
    margin-top: 30px;
    width: 100px;
    height: 100px;
}
#username,#pwd{
    width: 100px;
}
#choose{
    /* margin: auto; */
    text-align: center;
    margin-top: 20px;
    color: white;
    
}
#button{
    /* margin: auto; */
    text-align: center;
    margin-top: 20px;
    
}



